.oben{
    padding-top: 5%;
}

.left{
    padding-left: 40%;
    border-top: 30cap;
}

.unten {
    padding-top: 10%;
}

.right {
    padding-left: 54%;
    padding-bottom: 30%;
}

.pfeile{
    padding-top: 20%;
}